@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue_dark: #1f57c3;
  --light_dark: #265fd19d;
  --dark_green: #13544e;
  --green_light: #168b05;
  --white:#fff;
  --text_color: #232323;
  --transparent: rgba(255,255,255,.5);

}
body {
	overflow-x: hidden;
}

